p{
    font-size: 30;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
}

h3{
    font-size: 30;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blue;
    text-align: center;
}